<%- include('partials/header') -%>

    <div class="overflow-x-auto">
        <table class="table table-compact w-full">
          <thead>
            <tr>
              <th>Friend's Name</th> 
              <th>Phone Number</th> 
              <th>Action</th> 
              <th>Edit</th> 
              <!-- <th>Notes</th> 
              <th>Photo</th> -->
            </tr>
          </thead> 
          <tbody>
            <!-- Use JS to create a list that automagically updates every time we add or remove contacts -->
        
             <tr  >
                <td >
                 <%console.log(friends)%>
                 <% friends.forEach( el => { %>
                     <li style="list-style-type: number" class='companyItem alert alert-info' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.name %> 
                        </span>     
                     </li><% }) %>    
                 </td>   
                 
                 
                <td><% friends.forEach( el => { %>
                 <li style="list-style: none;"" class='PhoneNumber alert alert-success' class='companyItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'> <%= el.phone %>
                    </span>
                 <!-- <span class='del'> Delete </span> -->
                     
                 </li><% }) %></td>
 
                 <!-- delete button -->
                 <td> 
                  <% friends.forEach((el, i) => { %>

                        <li style="list-style: none;">

                       <!-- The button to open modal -->
                       <label for="frield-modal-<%= i %>" class="alert alert-info">Delete Contact</label>

                       <!-- Put this part before </body> tag -->
                       <input type="checkbox" id="frield-modal-<%= i %>" class="modal-toggle" />
                       <div class="modal modal-bottom sm:modal-middle">
                         <div class="modal-box">
                           <h3 class="font-bold text-lg">Hey, just checking..</h3>
                           <p class="py-4">Did you mean to hit the delete button?</p>
                           
                           <button class="alert alert-info btn-active btn-ghost" data-id='<%=el._id%>'>

                             <span class='del <%= el.completed === true ? 'completed' : 'not'%>'> Yes, delete this contact. </span>

                           </button>

                           <br>

                           <label for="frield-modal-<%= i %>" class="btn btn-circle">Nope, it was a mistake. Take me back.</label>
                           
                         </div>
                       </div>

                        </li>

                    <% }) %>
                </td>
 
                 <!-- edit button: Edit button will need work on the backend, a new page or pop up to edit any info we put in -->
                 <td> 
                     <% friends.forEach( el => { %> 
 
                         <li style="list-style: none;">
                             <button class="alert alert-info btn-active btn-primary" data-id='<%=el._id%>'>
                                 <!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'> -->
                                 
                                 <span class='edit <%= el.completed === true ? 'completed' : 'not'%>'> Edit </span>
 
                                 </button>
                         </li>
 
                     <% }) %>
                 </td>
 
 
 
 
             </tr>
          </tfoot>
        </table>
    <br>
        <form action="/friends/createFriend" method='POST'>
            <input class="input input-bordered input-primary w-full max-w-xs" type="text" placeholder="Friend Name" name='friendName' required>
            <input class="input input-bordered input-primary w-full max-w-xs" type="text" placeholder="Phone Number" name='phoneNumber' required>
            <input class="btn btn-active btn-link" type="submit">
        </form>
    <br>
            <div class="logOutButton">
                <button class="btn btn-outline" onclick="window.location.href='/logout'">Log Out by clicking here</button>
            </div>

    
            <script src="js/mainF.js"></script>
        
      </div>

      

      <%- include('partials/footer') -%>