<%- include('partials/header') -%>

    <div class="overflow-x-auto">
        <table class="table table-compact w-full">
          <thead>
            <tr>
              <th>Friend's Name</th> 
              <th>Phone Number</th> 
              <th>Action</th> 
              <th>Edit</th> 
              <!-- <th>Notes</th> 
              <th>Photo</th> -->
            </tr>
          </thead> 
          <tbody>
            <!-- Use JS to create a list that automagically updates every time we add or remove contacts -->
        
             <tr >
                <td>
                 <%console.log(friends)%>
                 <% friends.forEach( el => { %>
                     <li style="list-style: none;" class='companyItem' data-id='<%=el._id%>'>
                     <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.name %> </span>
                         
                     </li><% }) %>    
                 </td>   
                 
                 
                <td><% friends.forEach( el => { %>
                 <li style="list-style: none;"" class='PhoneNumber' class='companyItem' data-id='<%=el._id%>'>
                 <span class='<%= el.completed === true ? 'completed' : 'not'%>'> <%= el.phone %></span>
                 <!-- <span class='del'> Delete </span> -->
                     
                 </li><% }) %></td>
 
                 <!-- delete button -->
                 <td> 
                     <% friends.forEach( el => { %> 
 
                         <li style="list-style: none;">
                             <button class='PhoneNumber' class='companyItem' data-id='<%=el._id%>'>
                                 <!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'> -->
                                 
                                 <span class='del <%= el.completed === true ? 'completed' : 'not'%>'> Delete </span>
 
                                 </button>
                         </li>
 
                     <% }) %>
                 </td>
 
                 <!-- edit button: Edit button will need work on the backend, a new page or pop up to edit any info we put in -->
                 <td> 
                     <% friends.forEach( el => { %> 
 
                         <li style="list-style: none;">
                             <button class='PhoneNumber' class='companyItem' data-id='<%=el._id%>'>
                                 <!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'> -->
                                 
                                 <span class='edit <%= el.completed === true ? 'completed' : 'not'%>'> Edit </span>
 
                                 </button>
                         </li>
 
                     <% }) %>
                 </td>
 
 
 
 
             </tr>
          </tfoot>
        </table>
        <form action="/friends/createFriend" method='POST'>
            <input type="text" placeholder="Friend Name" name='friendName' required>
            <input type="text" placeholder="Phone Number" name='phoneNumber' required>
            <input type="submit">
        </form>
    
        <a href="/logout">Logout</a>
        <script src="js/mainF.js"></script>
      </div>

      

      <%- include('partials/footer') -%>